<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>관리자 모드</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body{margin:0px;padding:0px;}
a{text-decoration:none;}
.wrapper{
	width:100%;
}
.header{
	width:100%;
	background:yellow;
	overflow:hidden;
}
.header h2{
	float:left;
}
.header div{
	float:right;
	padding:20px 20px 20px 0px;
}
.nav a{
	width:25%;
	display:block;
	background:#000;
	color:#fff;
	float:left;
	text-align:center;
	padding:10px 0px;
}
.nav a:hover{
	background:red;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

</script>
</head>
<body>
<div class="wrapper">
	<div class="header">
		<h2>F-D</h2>
		<div><%=id%>님 <a href="/logout">로그아웃</a></div>
	</div>
	<div class="nav">
		<a href="#">상품관리</a>
		<a href="#">고객관리</a>
		<a href="#">게시판관리</a>
		<a href="#">상점관리</a>
	</div>
	<div class="aside"></div>
	<div class="section"></div>
	<div class="footer">copry right all reserved 2018</div>
</div>
</body>
</html>
